* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

body {
    background-color: #000000;
    text-align: center;
}

.banner {
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2), rgba(50, 168, 219, .0)), url(./images/banner.png);
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB80;
    background-blend-mode: multiply;    
}

.banner img {
    box-sizing: border-box;
    margin: 27px 10px;
}

.banner h1 {
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 16px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900; 
}

.banner p {
    font-size: 1.25rem;
    margin: 16px 0 24px;
    width: 515px;
    height: 46px;
    display: inline-block;
}

.banner button {
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    font-size: 16px;
    line-height: 19px;
    color: #31A8DD;
    border: 1px solid #31A8DD;
    padding: 19px 46px;
    text-transform: uppercase;
    letter-spacing: 0.21em;
    background-color: transparent;
    cursor: pointer;
}

.banner .logo {
    background: rgba(0, 0, 0, 0.2);
    width: 268px;
    height: 268px;
    border-radius: 50%;
    display: inline-block;
}

#course-content h2,#professional-challenges h2 {
    margin: 0 200px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.19em;
    color: #33A8DB;
    padding-top: 60px ;
    text-transform: uppercase;
}

#course-content p, #professional-challenges p {
    margin-top: 24px ;
    width: 792px;
    display: inline-block;
}

.modules-list {
    padding-bottom: 90px;
    display: inline-block;
}

.modules-list .module {
    padding: 16px 60px;
    background: #252525;
    border: 1px solid #33A8DB;
    box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
    border-radius: 57px;
    width: 535px;
    height: 51px;
    margin: 24px;
}

.modules-list span {
    color: #33A8DB;
    background-color: transparent;
}

.module {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

#transform-world {
    background-image: url(./images/woman-code.png);
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
}

#transform-world p {
    font-weight: 900;
    font-size: 40px;
    text-transform: lowercase;
    line-height: 47px;
    color: #FFFFFF;
    text-shadow: 3px 2px 0px #33A8DB;
    width: 244px;
    height: 141px;
    text-align: left;
    background-color: transparent;
    position: relative;
}

#professional-challenges {
    border-bottom: 1px solid #33A8DB80;
    padding-bottom: 90px;
}

#professional-challenges img {
    margin-top: 32px;
}

footer {
    padding-top: 59px;  
    background: linear-gradient(180deg, rgba(51, 168, 219, 0) 0%, rgba(51, 168, 219, 0.2) 99.99%, rgba(51, 168, 219, 0.2) 100%);
}

footer p  {
    padding-bottom: 38px;
    background: transparent;
}

footer img, a {
    background: transparent;
}

.banner p, .banner img, .course-content p, .module, #professional-challenges p {
    
    text-align: center;
}
